 body{
     margin-top: 0px;
     font-family: TT Commons,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;
     display: flex;
     flex-direction: column;
 }          
 h1 {
    text-align: center;
}
img {
    width: 100px;
   height: 100px;
   margin-right: 20px;
   border-radius: 50%;
   margin-top: 50px;
}
.name {
    margin-left: 20px;
    color: rgb(19, 190, 119);
}
.pdf-section{
    display: flex;
    flex-direction: row;
    align-self: center;
}
aside {
    background-color: #156155 ;   
    margin-top: 0em;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 5rem;   
    box-shadow: inset 5px 0 5px -5px #29627e;
    width: 20%;
    margin-right: 100px;  
    color: floralwhite;
    border-radius: 5px; 
}
.maincv{
    
    padding-top: 50px;
    font-family: 'Courier New', Courier, monospace;
    width: 80%;
}
.progressbar{
    width: 80%;
}
footer {
    clear: both;
    align-content:center;
    margin-left: 30%;    
}
footer a {
    margin-left: 50px;
    font-size: 40px;
    color: blue;
}
p a,a{
    font-size: 14px;
    margin-left: 0px;
    color: floralwhite;
}
.work p{
    font-weight: bold;
}
.work a{
    font-size: 16px; 
    margin-left: 0;   
}
li{
    list-style: none;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.card-panel{
    height: 80px;
    clear: both;
    align-self: center;    
}
.red.darken-2 {
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    border-radius: 10px;
    height: 50px;
    background-color: #D32F2F;     
}
/*---Media Query for Mobile phone---*/
@media only screen and (max-width: 1000px){
    body{
        margin-left: 50px;
        width: 100%;        
        display: block;        
    }
    aside,.let-box{
        width: 60%;
        max-width: 300px;
        float: none;
        align-self: center;
    }
    .pdf-section{
        flex-direction: column;
    }
}