 body{
     margin-top: 0px;
 }          
 h1 {
    text-align: center;
}
img {
    width: 100px;
   height: 100px;
   margin-right: 20px;
   border-radius: 50%;
   margin-top: 50px;
}
.name {
    margin-left: 20px;
    color: rgb(19, 190, 119);
}
aside {
    background-color: #156155 ;
    float: left;
    margin-top: 0em;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 5rem;   
    box-shadow: inset 5px 0 5px -5px #29627e;
    width: 20%;
    margin-right: 100px;  
    color: floralwhite;
    border-radius: 5px; 
}
.maincv{
    margin-left: 100px;
    margin-top: 100px;
    padding-top: 50px;
    font-family: 'Courier New', Courier, monospace;
    width: 80%;
}
footer {
    clear: both;
    align-content:center;
    margin-left: 30%;    
}
footer a {
    margin-left: 50px;
    font-size: 40px;
    color: blue;
}
p a,a{
    font-size: 14px;
    margin-left: 0px;
    color: floralwhite;
}
.work p{
    font-weight: bold;
}
.work a{
    font-size: 16px; 
    margin-left: 0;   
}
li{
    list-style: none;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}