body {
    font-family: sans-serif;
    text-align: center;
  }
  div{
    display: flex;
    flex-direction: column;
    text-align: center;
    
  }
h1{
  text-decoration: bisque;
  font-family: fantasy;
  font-weight: bold;
  font-size: 50px;
  margin-top: 50px;
}
#searchBtn{
  width: 200px;
  height: 50px;
  background-color: aqua;
  text-decoration: chocolate;
  font-family: sans-serif;
  font-size: 30px;
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.searchInput{
  width: 200px;
  height: 50px;
  align-self: center;
  text-align: center;
}
.notice{
  width: 40%;
  height: 50px;  
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-left: 30%;
  z-index: -2;
}
.imageContainer{
  width: 30%;
  height: 200px;
  align-self: center;
}
.numInput{
  width: 200px;
  height: 40px;
  text-align: center;
  align-self: center;
  margin-bottom: 10px;
}