.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.todoForm{
  width: 70%;  
  margin-left: 300px;
  background: rgb(37, 172, 20);
}
@media only screen and (max-width: 600px){
  .todoForm{      
    margin-left: 50px;
    align-self: center;    
  }
}
